.aboutContainer {
  padding: 2% 5%;
  padding-top: 120px;
  color: #333;
  p {
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
  }
  .imgContainer {
    padding-left: 5%;
    &.it-img {
      padding: 0;
      padding-right: 5%;
      img {
        width: 400px;
      }
    }
    img {
      border-radius: 4px;
    }
  }
}
