@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

.aboutContainer {
  padding: 2% 5%;
  color: white;
  background-image: linear-gradient(to bottom, #06b6d4, #3b82f6);
  // background-color: #0166b4;
  h1 {
    color: white;
  }
  p {
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    max-width: 1000px;
  }
  .row {
    @include tablet {
      flex-direction: column;
    }
  }
  .imgContainer {
    padding-left: 5%;
    &.it-img {
      padding: 0;
      padding-right: 5%;
      img {
        max-width: 400px;
        width: 100%;
      }
      @include tablet {
        padding: 0;
      }
    }
    @include tablet {
      padding: 0;
    }
    img {
      border-radius: 4px;
    }
  }
}
