.aboutContainer {
  padding: 2% 5%;
  padding-top: 120px;
  color: #333;
  p {
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
  }
  .imgContainer {
    padding-left: 5%;
    img {
      border-radius: 4px;
    }
  }
}
