.authorsContainer {
  padding: 2% 5%;
  color: #333;
  .talk-sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    .sponsor-images {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      padding: 1rem;
    }
  }
  h1 {
    text-align: center;
  }
  h3 {
    font-size: 23px;
    margin-bottom: 4px;
  }
  p {
    margin: 4px;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    span {
      color: blue;
    }
  }
  a {
    line-height: 28px;
    font-size: 18px;
    color: blue;
  }
}
