.confContainer {
  padding: 32px 5%;
  > h1 {
    font-size: 40px;
  }
  p {
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
  }
  .aboutus-row {
    justify-content: space-between;
    width: 100%;
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
  }
  .ifip-text {
    font-size: 24px;
    font-weight: 500;
    span {
      font-size: 28px;
      font-weight: 600;
    }
  }
}
