.confContainer {
  padding: 2% 5%;
  > h1 {
    font-size: 40px;
  }
  p {
    font-size: 18px;
    line-height: 30px;
    max-width: 90%;
    text-align: justify;
  }
  .ifip-text {
    font-size: 24px;
    font-weight: 500;
    span {
      font-size: 28px;
      font-weight: 600;
    }
  }
}
