.contactContainer {
  padding: 32px 5%;
  .contactDetails {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    p {
      margin: 2px 0;
      font-size: 20px;
    }
    a {
      margin: 10px 0;
      color: #0166b4;
      font-weight: 500;
      font-size: 20px;
    }
  }
}
