.homeContainer {
  padding: 32px 5%;
  padding-top: 200px;
  padding-bottom: 120px;
  color: white;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("https://icccsp.com/img/bg.jpeg");
  background-attachment: fixed;
  filter: grayscale(20%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 992px) {
    padding-top: 150px;
  }
  .event-name {
    text-align: center;
    margin: 0;
    font-size: 36px;
    color: white;
    font-weight: bold;
  }
  h1 {
    text-align: center;
    margin: 0;
    font-size: 35px;
    color: white;
    @media screen and (max-width: 568px) {
      margin-top: 8px;
      font-size: 20px;
    }
    &.ifip {
      font-size: 24px;
      margin-top: 2rem;
      span {
        font-weight: 600;
      }
    }
  }
  .subtext {
    font-size: 24px;
    font-weight: 500;
    padding: 8px 16px;
    text-align: center;
    span {
      font-size: 28px;
      font-weight: 600;
    }
  }
  h2 {
    font-size: 32px;
  }
  .textContents {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 700;
    line-height: 90%;
    margin: 20px 0;
  }
  .items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
    .home-img {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .address {
      color: white;
      margin: 24px 0;
      @media screen and (max-width: 992px) {
        font-size: 20px;
      }
    }
  }
  .btnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    button {
      margin: 16px 8px;
      padding: 8px 16px;
      color: white;
      font-size: 18px;
      font-weight: 500;
      border: none;
      border-radius: 2px;
      background-color: #3498db;
    }
  }

  .link {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
  }
  .link:hover {
    color: #0099ff;
  }
}
