.homeContainer {
  padding: 2% 5%;
  padding-top: 120px;
  padding-bottom: 120px;
  color: white;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('/bg.png');
  filter: grayscale(20%);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    text-align: center;
    margin: 0;
    font-size: 35px;
    &.ifip {
      font-size: 24px;
      margin-top: 3rem;
      span {
        font-weight: 300;
      }
    }
    &.address {
      font-size: 28px;
      margin-top: 3rem;
    }
  }
  .subtext {
    font-size: 28px;
    font-weight: 600;
    border-radius: 50px;
    background-color: rgba(256, 256, 256, 0.08);
    backdrop-filter: blur(10px);
    padding: 4px 8px;
    text-align: center;
  }
  h2 {
    font-size: 32px;
  }
  .textContents {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 700;
    line-height: 90%;
  }
  .btnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    button {
      margin: 16px 8px;
      padding: 8px 16px;
      color: white;
      font-size: 18px;
      font-weight: 500;
      border: none;
      border-radius: 2px;
      background-color: #3498db;
    }
  }
}
