.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 0;
  transition: 0.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  z-index: 10000;
  width: 100%;
  &.navChange {
    padding: 10px 0;
    background: white;
    box-shadow: 0 4px 24px #333;
  }
  img {
    width: 100px;
    height: auto;
  }
  a {
    font-weight: 500;
    color: white;
    &:not(.logo) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &.logo {
      width: 100px;
    }
    &.navChange {
      color: #222;
    }
    &:hover {
      color: #0765b0;
    }
  }

  @media screen and (max-width: 1200px) {
    padding: 10px 0;
    box-shadow: 0 2px 7px rgba($color: #000000, $alpha: 0.2);
    backdrop-filter: blur(15px)
  }
  // }
  // }
}
