.callForPaperContainer {
  padding: 32px 5%;
  color: white;
  // background-color: #0166b4;
  background-image: linear-gradient(to right, #068096, #1c4fa0);
  h1 {
    color: white;
    text-align: center;
  }
  .papersList-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0;
    max-width: 1500px;
    margin: auto;
    .paperList {
      border-radius: 2px;
      border: 1px solid #ccc;
      width: 100%;
      justify-content: center;
      align-items: flex-start;
      padding: 12px 0;
      h1 {
        font-size: 24px;
      }
      li {
        font-size: 18px;
        line-height: 32px;
      }
    }
  }
}
