.callForPaperContainer {
  padding: 2% 5%;
  padding-top: 120px;
  color: white;
  background-color: #0166b4;
  h1 {
    color: white;
    text-align: center;
  }
  .papersList-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0;
    max-width: 1500px;
    margin: auto;
    .paperList {
      border-radius: 2px;
      border: 1px solid #ccc;
      width: 100%;
      justify-content: center;
      align-items: flex-start;
      h1 {
        font-size: 24px;
      }
      li {
        font-size: 18px;
        line-height: 32px;
      }
    }
  }
}
