.workshopContainer {
  padding: 32px 5%;
  padding-top: 120px;
  p {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
  }
}

.workshopGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  text-align: center;
  margin-top: 50px;
  
  p {
    font-size: 14px;
    line-height: normal;
    text-align: justify;
  }

  
}

@media (max-width: 800px) {
  .workshopGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
